<div class="container justify-content-center">
  <%= form_with url: artworks_path, method: :get, class: "d-flex mt-4" do %>
    <%= select "category", "name", @categories, class: "form-control" %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search for the perfect Artwork"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="d-flex">
    <% @categories.each do |category| %>

    <% end %> 
  </div>

  <div class = "row">
    <h2 class="my-5 fs-1" style="text-align: center;">The Louvre Collection</h2>
  </div>
  <div class = "row">
    <% @artworks.each do |artwork| %>
        <%= render "artworks/artwork", artwork: artwork %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center" data-controller="backup">
    <div class="btn btn-primary" data-action="click->backup#scrollToTop">
      Back to the top
    </div>
  </div>
  <br>
  <br>
</div>
