<div class="container mt-4">
  <h2><%= @artwork.title %></h2>
  <h3 class="text-end"><%= @artwork.creator %></h3>
</div>

<div class="container card-artwork mt-4 mb-4">
<% if @artwork.images.length > 1 %>
  <div id="artworkImages" class="carousel slide artwork-carousel" data-ride="carousel">
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img class="d-block w-100 artwork-carousel-item" src=<%= @artwork.images.first.url %> alt="First slide">
      </div>
      <% @artwork.images[1..].each do |image| %>
        <div class="carousel-item h-100">
          <img class="d-block w-100 artwork-carousel-item" src=<%= image.url %> alt=<%= "#{@artwork.title} Slide" %>>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#artworkImages" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#artworkImages" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% else %>
    <img src=<%= @artwork.images.first.url %>>
<% end %>
</div>

<div class="container mt-4">
  <div class="row p-4">
    <div class="col-6">
      <h4>Description</h4>
      <p><%= @artwork.description %></p>
      <p><strong>Dimensions: </strong> <%= @artwork.dimensions %><p>
      <p><strong>Creation date/period: </strong> <%= @artwork.creation_date.nil? ? "Unknown" : @artwork.creation_date %><p>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="p-5">
          <div class="card-body" data-controller="checkout">
            <h5 class="card-title pb-5 text-end" data-checkout-target="pricePerDay">
              <%= @artwork.price_per_day.to_i %> $/day
            </h5>
            <%= simple_form_for [@artwork, @booking] do |f| %>
              <%= f.input :start_date, input_html: { data: {
                action: "change->checkout#updatePrice",
                checkout_target: "startDate",
              }
              } %>
              <%= f.input :end_date, input_html: { data: {
                action: "change->checkout#updatePrice",
                checkout_target: "endDate",
              }
              } %>
              <p class="text-end">Shipping cost included</p>
              <h5 class="text-end" data-checkout-target="totalPrice">Total price: <strong><%= @artwork.price_per_day.to_i %>$</strong></h5>
              <%= f.submit class: "btn btn-primary", style: "width: 100%;" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
