<%= render "shared/navbar" %>
<div class="container">
  <h1 class="text-center my-3">Hello <%= @user.first_name %>!</h1>
  <h2 class="text-center">Your Future Bookings</h2>
  <p class="text-center"><%= "You don't have any future bookings ..." if @user_future_bookings.empty? %></p>
  <div class="row">
    <% @user_future_bookings.each do |booking| %>
      <div class="card m-2 p-0 " style="width: 26rem; height: 48rem">
        <a href=<%= "/artworks/#{booking.artwork.id}" %>>
          <div class="card-artwork">
              <% image_url = booking.artwork.images.first.url %>
              <img src=<%= image_url %> class="card-img-top" alt="...">
          </div>
        </a>
        <div class="card-body">
          <span  data-controller="approval" data-action="scroll@window->approval#updateStatus" class="card-status">Pending</span>
          <span class="card-price">Total price: <%= booking.total_price.to_i %>$</span>
          <h5 class="card-title"><%= booking.artwork.title %></h5>
          <p class="card-text fst-italic"> <%= booking.artwork.creator %></p>
          <p class="card-text"><strong>Start date: </strong><%= booking.start_date %></p>
          <p class="card-text"><strong>End date: </strong><%= booking.end_date%></p>
          <%= link_to "Cancel", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary cancel-btn"%>
        </div>
      </div>
    <% end %>
  </div>
  <h2 class="text-center mt-5 mb-3">Your Past Bookings</h2>
  <p class="text-center"><%= "You don't have any past bookings ..." if @user_past_bookings.empty? %></p>
  <div class="row">
    <% @user_past_bookings.each_with_index do |booking, index| %>
      <div class="card m-2 p-0" style="width: 26rem; height: 50rem">
        <a href=<%= "/artworks/#{booking.artwork.id}" %>>
          <div class="card-artwork">
              <% image_url = booking.artwork.images.first.url %>
              <img src=<%= image_url %> class="card-img-top" alt="...">
          </div>
        </a>
        <div class="card-body">
          <span class="card-price-past">Total price: <%= booking.total_price.to_i %>$</span>
          <h5 class="card-title"><%= booking.artwork.title %></h5>
          <p class="card-text fst-italic"> <%= booking.artwork.creator %></p>
          <p class="card-text"><strong>Start date: </strong><%= booking.start_date %></p>
          <p class="card-text"><strong>End date: </strong><%= booking.end_date%></p>
          <button class= 'btn btn-primary leavereview-btn' data-bs-toggle="modal" data-bs-target="#review-modal-<%= booking.artwork.id %>">Leave a review </button>
        </div>
      </div>
      <div class="modal fade" id="review-modal-<%= booking.artwork.id %>" tabindex="-1" aria-labelledby="review-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title fs-5" id="reviewModalLabel">Leave a review</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [booking.artwork, @review] do |f| %>
              <%= f.input :content, label: "Comment"%>
              <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-modal" data-bs-dismiss="modal">Close</button>
              <%= f.button :submit, class:"btn btn-primary btn-modal" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%# alert %>
  <% if !@user_future_bookings.empty? %>
  <div class="alert alert-warning alert-dismissible fade show opacity-0" role="alert" data-controller="approval" data-action="scroll@window->approval#notification">
  <strong>Great news!</strong> One of your booking has been approved
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% end %>
</div>
